### Deliverable 3-1: Preprocessing the Data for a Neural Network

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [3]:
# Find the distribution of success vs. failure.
application_df.IS_SUCCESSFUL.value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [4]:
# Find the distribution of success vs. failure among AFFILIATION.
application_df.groupby("AFFILIATION").IS_SUCCESSFUL.value_counts()

AFFILIATION       IS_SUCCESSFUL
CompanySponsored  0                10493
                  1                 5212
Family/Parent     1                   36
                  0                   28
Independent       1                12981
                  0                 5499
National          1                   20
                  0                   13
Other             1                    4
Regional          1                    8
                  0                    5
Name: IS_SUCCESSFUL, dtype: int64

In [5]:
# Examine the minority case.
application_df[application_df.AFFILIATION == "Other"].head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
11564,412087428,INTERNATIONAL AIR CARGO ASSOCIATION INC,T6,Other,C1000,ProductDev,Corporation,1,25000-99999,N,1904956,1
27737,800953225,UNITED BAPTIST THEOLOGICAL SEMINARY AND BIBLE ...,T3,Other,C1000,Preservation,Corporation,1,0,N,5000,1
28951,814206947,ELDERTLC INC,T3,Other,C1000,Preservation,Trust,1,0,N,5000,1
33462,943421017,BALM OF GILEAD MINISTRIES,T3,Other,C7000,Preservation,Trust,1,0,N,5000,1

In [6]:
application_df[application_df.AFFILIATION == "Regional"].head(15)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
1202,200622700,SUPERDOME MANAGEMENT GROUP INC,T3,Regional,C1200,Preservation,Trust,1,100000-499999,N,172372,1
4865,261482195,TEXAS CHILDRENS WOMENS SPECIALISTS,T3,Regional,C1000,Preservation,Trust,1,5M-10M,N,42117901,0
7469,271944473,QUILTED PINK INC,T3,Regional,C1000,Preservation,Trust,1,10000-24999,N,5548,1
10414,352285824,INTERNATIONAL FOLK ART ALLIANCE INC,T3,Regional,C1200,Preservation,Trust,1,1M-5M,N,3163462,0
10614,352514755,BAY AREA MENTAL HEALTH PROVIDERS NETWORK,T3,Regional,C2000,Preservation,Association,1,0,N,5000,1
19716,475141614,PUBLIC LAND ACCESS YEARROUND,T4,Regional,C1000,ProductDev,Trust,1,0,N,5000,1
21178,581217837,WILLIAMS-PAYNE CEMETERY TRUST,T13,Regional,C1000,Preservation,Co-operative,1,0,N,5000,1
25024,742680154,ALT AFFORDABLE HOUSING SERVICES INC - ARBOR PLACE,T3,Regional,C1000,Preservation,Trust,1,25000-99999,N,1398186,0
25817,752801906,THE BRANCH OF GOODNESS AGAPE REHABILITATION CE...,T3,Regional,C1200,Preservation,Trust,1,0,N,5000,1
26781,770489199,FULL LITERACY THROUGH ACTIVITIES VERIFIED BY R...,T3,Regional,C1000,Preservation,Trust,1,0,N,5000,1
31788,911561466,KITSAP PENINSULA OPERA GUILD,T3,Regional,C1000,Preservation,Trust,1,0,N,5000,1
31948,911728778,WASHINGTON IMAGINATION NETWORK,T3,Regional,C2000,Preservation,Trust,1,25000-99999,N,79988,0
34098,956071185,AMERICAN SOCIETY OF LANDSCAPE ARCHITECTS,T6,Regional,C1000,Preservation,Trust,1,100000-499999,N,120158,0

In [7]:
# Find the distribution of success vs. failure among USE_CASE.
application_df.groupby("USE_CASE").IS_SUCCESSFUL.value_counts()

USE_CASE       IS_SUCCESSFUL
CommunityServ  0                  250
               1                  134
Heathcare      0                   83
               1                   63
Other          1                    3
Preservation   1                15117
               0                12978
ProductDev     1                 2944
               0                 2727
Name: IS_SUCCESSFUL, dtype: int64

In [8]:
# Examine the minority case.
application_df[application_df.USE_CASE == "Other"].head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
5112,262210762,FR THOMAS BOYCE COUNCIL NO 13502 KNIGHTS OF CO...,T8,Independent,C1000,Other,Association,1,0,N,5000,1
5566,263115367,CANADIAN HUMANITARIAN ORGANIZATION FOR INTERNA...,T3,Independent,C1000,Other,Trust,1,25000-99999,N,8027,1
34215,980372718,NHL ALUMNI ASSOCIATION,T3,Independent,C1000,Other,Trust,1,1M-5M,N,75412,1

In [9]:
# Find the distribution of success vs. failure among ORGANIZATION.
application_df.groupby("ORGANIZATION").IS_SUCCESSFUL.value_counts()

ORGANIZATION  IS_SUCCESSFUL
Association   0                 6202
              1                 4053
Co-operative  1                  367
              0                  119
Corporation   1                   33
              0                   10
Trust         1                13808
              0                 9707
Name: IS_SUCCESSFUL, dtype: int64

In [10]:
# Check the distribution of success vs. failure among STATUS.
application_df.groupby("STATUS").IS_SUCCESSFUL.value_counts()

STATUS  IS_SUCCESSFUL
0       1                    3
        0                    2
1       1                18258
        0                16036
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Examine the minority case.
application_df[application_df.STATUS == 0].head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
2816,205559542,INTERNATIONAL FEDERATION OF FLY FISHERS INC,T3,CompanySponsored,C2000,CommunityServ,Trust,0,0,N,5000,1
2928,205918776,THE STEWART FOUNDATION INC,T3,Independent,C1000,Preservation,Trust,0,25000-99999,Y,7287,1
10155,330970564,META POINT INC,T3,Independent,C1000,Preservation,Trust,0,10000-24999,N,5000,1
20518,510594485,MOMS CLUB,T3,CompanySponsored,C2100,CommunityServ,Association,0,0,N,5000,0
29590,841164329,SKYVIEW VILLAGE INC SENIOR HOUSING,T3,Independent,C1000,Preservation,Association,0,0,N,5000,0

In [12]:
# Check the distribution of SPECIAL_CONSIDERATIONS.
application_df.SPECIAL_CONSIDERATIONS.value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [13]:
# Examine the minority case.
application_df[application_df.SPECIAL_CONSIDERATIONS == "Y"].head(15)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
1374,201444113,PTA TEXAS CONGRESS,T3,Independent,C2000,Preservation,Association,1,0,Y,5000,0
2928,205918776,THE STEWART FOUNDATION INC,T3,Independent,C1000,Preservation,Trust,0,25000-99999,Y,7287,1
6056,263885231,MT OLIVE OUTREACH CENTER OF STOCKBRIDGE INC,T3,Independent,C1700,Preservation,Trust,1,0,Y,5000,1
6805,270626168,SUPPORTING OTHERS ACHIEVE RECOVERY INC,T3,Independent,C1000,Preservation,Trust,1,25000-99999,Y,5000,1
7747,272700404,MERRITT ISLAND LACROSSE CLUB INC,T3,Independent,C1000,Preservation,Trust,1,0,Y,5000,0
9437,311731990,GREEN AND BLACK BAND PARENTS ASSOCIATION,T3,Independent,C1000,Preservation,Trust,1,0,Y,5000,1
9941,330508577,HOUSING OUR PEOPLE ECONOMICALLY COMMUNITY DEVE...,T3,Independent,C1000,Preservation,Trust,1,1-9999,Y,53897,0
12318,436097821,BUFFALO MEMORIAL POST 4080 VFW INC,T3,Independent,C1000,Preservation,Trust,1,1-9999,Y,7416,1
13998,455155852,HUNTERS CREEK ELEMENTARY DADS CLUB,T3,Independent,C1200,Preservation,Trust,1,0,Y,5000,0
14575,460943232,INSTITUTE OF SERVICE-LEARNING POWER & INTERSEC...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,Y,15503,0
15229,462211796,URBAN BICYCLE FOOD MINISTRY,T3,Independent,C1000,Preservation,Trust,1,10000-24999,Y,5000,1
15453,462662917,HATCHER WHEATLEY BENEFIT INVITATIONAL INC,T3,Independent,C1000,Preservation,Trust,1,0,Y,5000,1
15732,463155753,ROCKY MOUNTAIN FOREST SERVICE ASSOCIATION,T3,Independent,C1000,Preservation,Trust,1,1-9999,Y,25615,1
16114,463768293,SOUTH CENTRAL IRISH WOLFHOUND CLUB INC,T3,Independent,C1000,Preservation,Trust,1,1-9999,Y,12084,1
16500,464413988,WINGS OF GRACE NONPROFIT CORPORATION,T3,Independent,C1200,Preservation,Trust,1,0,Y,5000,1

In [14]:
# Drop the non-beneficial ID columns, 'EIN,' 'NAME,'
# 'STATUS,' and 'SPECIAL_CONSIDERATIONS'.
application_df = application_df.drop(columns = ["EIN", "NAME",
                                                "STATUS", "SPECIAL_CONSIDERATIONS"], axis = 1)

In [15]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df.APPLICATION_TYPE.value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [16]:
# Determine which values to replace if counts are less than ...?
replace_application = list(type_counts[type_counts < 20].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       27
T12         27
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [18]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_counts[class_counts < 20].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
Other      207
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
Name: CLASSIFICATION, dtype: int64

In [19]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [20]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [21]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index = True, right_index = True)
application_df = application_df.drop(application_cat, axis = 1)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [22]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop("IS_SUCCESSFUL", axis = 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Deliverable 3-2.1: Compile, Train, and Evaluate the Model (Attempt 1)

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
layer1_nodes = 80
layer2_nodes = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = layer1_nodes, input_dim = input_features, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = layer2_nodes, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4800

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 7,261
Trainable params: 7,261
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [26]:
# Import checkpoint dependencies.
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames.
os.makedirs("checkpoints/Attempt1", exist_ok = True)
checkpoint_path = "checkpoints/Attempt1/weights.{epoch:02d}.hdf5"

In [27]:
# Create a callback that saves the weights of the model periodically (every five epochs).
cp_callback = ModelCheckpoint(
    filepath = checkpoint_path,
    verbose = 1,
    save_weights_only = True,
    save_freq = 804 * 5)

In [28]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 50, callbacks = [cp_callback])

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5730 - accuracy: 0.7181
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7296
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7318
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7332
Epoch 5/50
799/804 [============================>.] - ETA: 0s - loss: 0.5459 - accuracy: 0.7324
Epoch 5: saving model to checkpoints/Attempt1\weights.05.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7325
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7344
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7351
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7337
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7355
Epoch 10/50
788/804 [============================>.] - ETA: 0s - loss: 0.5415 - accuracy: 0.7362
Epoch 10: saving model to checkpoints/Attempt1\weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7363
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7353
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7361
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7372
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7364
Epoch 15/50
802/804 [============================>.] - ETA: 0s - loss: 0.5400 - accuracy: 0.7360
Epoch 15: saving model to checkpoints/Attempt1\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7358
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7378
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7378
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7378
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7380
Epoch 20/50
797/804 [============================>.] - ETA: 0s - loss: 0.5379 - accuracy: 0.7382
Epoch 20: saving model to checkpoints/Attempt1\weights.20.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7383
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7384
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7394
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7376
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7384
Epoch 25/50
776/804 [===========================>..] - ETA: 0s - loss: 0.5361 - accuracy: 0.7380
Epoch 25: saving model to checkpoints/Attempt1\weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7374
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7386
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7395
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7385
Epoch 30/50
778/804 [============================>.] - ETA: 0s - loss: 0.5361 - accuracy: 0.7393
Epoch 30: saving model to checkpoints/Attempt1\weights.30.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7383
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7396
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7391
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7391
Epoch 35/50
778/804 [============================>.] - ETA: 0s - loss: 0.5337 - accuracy: 0.7402
Epoch 35: saving model to checkpoints/Attempt1\weights.35.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7396
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7395
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7395
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7403
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 40/50
784/804 [============================>.] - ETA: 0s - loss: 0.5342 - accuracy: 0.7401
Epoch 40: saving model to checkpoints/Attempt1\weights.40.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7400
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7406
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7399
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7401
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7411
Epoch 45/50
789/804 [============================>.] - ETA: 0s - loss: 0.5334 - accuracy: 0.7396
Epoch 45: saving model to checkpoints/Attempt1\weights.45.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7397
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7407
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7403
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7411
Epoch 50/50
799/804 [============================>.] - ETA: 0s - loss: 0.5328 - accuracy: 0.7408
Epoch 50: saving model to checkpoints/Attempt1\weights.50.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7405

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5517 - accuracy: 0.7313 - 570ms/epoch - 2ms/step
Loss: 0.5516601204872131, Accuracy: 0.7313119769096375

In [30]:
# Export the model to a HDF5 file.
nn.save("OptimizationAttempt1.h5")

In [31]:
# OPTIONAL: Evaluate the model with the weights from the most accurate checkpoint (epoch --).
# This can be done by loading the checkpoint.
# nn.load_weights("checkpoints/Attempt1/weights.--.hdf5")

# model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"EPOCH -- | Loss: {model_loss}, Accuracy: {model_accuracy}")

### Deliverable 3-2.2: Compile, Train, and Evaluate the Model (Attempt 2)

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
layer1_nodes = 180
layer2_nodes = 40
layer3_nodes = 30

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(tf.keras.layers.Dense(units = layer1_nodes, input_dim = input_features, activation = "relu"))

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units = layer2_nodes, activation = "relu"))

# Third hidden layer
nn2.add(tf.keras.layers.Dense(units = layer3_nodes, activation = "relu"))

# Output layer
nn2.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 180)               10800

 dense_4 (Dense)             (None, 40)                7240

 dense_5 (Dense)             (None, 30)                1230

 dense_6 (Dense)             (None, 1)                 31

=================================================================
Total params: 19,301
Trainable params: 19,301
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the model
nn2.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [34]:
# Define the checkpoint path and filenames.
os.makedirs("checkpoints/Attempt2", exist_ok = True)
checkpoint_path = "checkpoints/Attempt2/weights.{epoch:02d}.hdf5"

# Create a callback that saves the weights of the model periodically (every five epochs).
cp_callback = ModelCheckpoint(
    filepath = checkpoint_path,
    verbose = 1,
    save_weights_only = True,
    save_freq = 804 * 5)

In [35]:
# Train the model
fit_model2 = nn2.fit(X_train_scaled, y_train, epochs = 50, callbacks = [cp_callback])

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5650 - accuracy: 0.7229
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5520 - accuracy: 0.7304
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7323
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7316
Epoch 5/50
785/804 [============================>.] - ETA: 0s - loss: 0.5454 - accuracy: 0.7333
Epoch 5: saving model to checkpoints/Attempt2\weights.05.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7334
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7346
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7346
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7339
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 10/50
789/804 [============================>.] - ETA: 0s - loss: 0.5408 - accuracy: 0.7363
Epoch 10: saving model to checkpoints/Attempt2\weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7361
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7362
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7362
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7379
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7382
Epoch 15/50
792/804 [============================>.] - ETA: 0s - loss: 0.5391 - accuracy: 0.7378
Epoch 15: saving model to checkpoints/Attempt2\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7377
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7376
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7380
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7382
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7381
Epoch 20/50
793/804 [============================>.] - ETA: 0s - loss: 0.5366 - accuracy: 0.7391
Epoch 20: saving model to checkpoints/Attempt2\weights.20.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7394
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7399
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7382
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7391
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7392
Epoch 25/50
789/804 [============================>.] - ETA: 0s - loss: 0.5356 - accuracy: 0.7401
Epoch 25: saving model to checkpoints/Attempt2\weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7398
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7388
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7400
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 30/50
780/804 [============================>.] - ETA: 0s - loss: 0.5346 - accuracy: 0.7402
Epoch 30: saving model to checkpoints/Attempt2\weights.30.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7404
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7414
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7407
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7404
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7408
Epoch 35/50
788/804 [============================>.] - ETA: 0s - loss: 0.5325 - accuracy: 0.7399
Epoch 35: saving model to checkpoints/Attempt2\weights.35.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7400
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7412
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7410
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7403
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7413
Epoch 40/50
787/804 [============================>.] - ETA: 0s - loss: 0.5316 - accuracy: 0.7422
Epoch 40: saving model to checkpoints/Attempt2\weights.40.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7416
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7416
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7415
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7418
Epoch 45/50
791/804 [============================>.] - ETA: 0s - loss: 0.5309 - accuracy: 0.7416
Epoch 45: saving model to checkpoints/Attempt2\weights.45.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7412
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7424
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7413
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7418
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7427
Epoch 50/50
792/804 [============================>.] - ETA: 0s - loss: 0.5304 - accuracy: 0.7417
Epoch 50: saving model to checkpoints/Attempt2\weights.50.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7419

In [36]:
# Evaluate the model using the test data
model_loss, model_accurady = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5551 - accuracy: 0.7294 - 546ms/epoch - 2ms/step
Loss: 0.5550727248191833, Accuracy: 0.7313119769096375

In [37]:
# Export the model to a HDF5 file.
nn2.save("OptimizationAttempt2.h5")

In [38]:
# OPTIONAL: Evaluate the model with the weights from the most accurate checkpoint (epoch --).
# This can be done by loading the checkpoint.
# nn2.load_weights("checkpoints/Attempt2/weights.--.hdf5")

# model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"EPOCH -- | Loss: {model_loss}, Accuracy: {model_accuracy}")

### Deliverable 3-2.3: Compile, Train, and Evaluate the Model (Attempt 3)

In [39]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
layer1_nodes = 180
layer2_nodes = 40
layer3_nodes = 30

nn3 = tf.keras.models.Sequential()

# First hidden layer
nn3.add(tf.keras.layers.Dense(units = layer1_nodes, input_dim = input_features, activation = "tanh"))

# Second hidden layer
nn3.add(tf.keras.layers.Dense(units = layer2_nodes, activation = "tanh"))

# Third hidden layer
nn3.add(tf.keras.layers.Dense(units = layer3_nodes, activation = "tanh"))

# Output layer
nn3.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn3.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 180)               10800

 dense_8 (Dense)             (None, 40)                7240

 dense_9 (Dense)             (None, 30)                1230

 dense_10 (Dense)            (None, 1)                 31

=================================================================
Total params: 19,301
Trainable params: 19,301
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model
nn3.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [41]:
# Define the checkpoint path and filenames.
os.makedirs("checkpoints/Attempt3", exist_ok = True)
checkpoint_path = "checkpoints/Attempt3/weights.{epoch:02d}.hdf5"

# Create a callback that saves the weights of the model periodically (every five epochs).
cp_callback = ModelCheckpoint(
    filepath = checkpoint_path,
    verbose = 1,
    save_weights_only = True,
    save_freq = 804 * 5)

In [42]:
# Train the model
fit_model3 = nn3.fit(X_train_scaled, y_train, epochs = 50, callbacks = [cp_callback])

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5654 - accuracy: 0.7254
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7290
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7312
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7332
Epoch 5/50
791/804 [============================>.] - ETA: 0s - loss: 0.5456 - accuracy: 0.7319
Epoch 5: saving model to checkpoints/Attempt3\weights.05.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7323
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7338
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7364
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7365
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7365
Epoch 10/50
786/804 [============================>.] - ETA: 0s - loss: 0.5394 - accuracy: 0.7364
Epoch 10: saving model to checkpoints/Attempt3\weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7363
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7378
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7384
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7384
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7386
Epoch 15/50
784/804 [============================>.] - ETA: 0s - loss: 0.5360 - accuracy: 0.7373
Epoch 15: saving model to checkpoints/Attempt3\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7374
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7384
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7389
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7402
Epoch 20/50
801/804 [============================>.] - ETA: 0s - loss: 0.5330 - accuracy: 0.7393
Epoch 20: saving model to checkpoints/Attempt3\weights.20.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7391
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7394
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7395
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7401
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7400
Epoch 25/50
788/804 [============================>.] - ETA: 0s - loss: 0.5329 - accuracy: 0.7393
Epoch 25: saving model to checkpoints/Attempt3\weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7396
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7402
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7394
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7403
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7400
Epoch 30/50
798/804 [============================>.] - ETA: 0s - loss: 0.5303 - accuracy: 0.7404
Epoch 30: saving model to checkpoints/Attempt3\weights.30.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7401
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7412
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7413
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7402
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7398
Epoch 35/50
785/804 [============================>.] - ETA: 0s - loss: 0.5296 - accuracy: 0.7408
Epoch 35: saving model to checkpoints/Attempt3\weights.35.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5298 - accuracy: 0.7407
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5296 - accuracy: 0.7408
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7407
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7407
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7419
Epoch 40/50
798/804 [============================>.] - ETA: 0s - loss: 0.5296 - accuracy: 0.7411
Epoch 40: saving model to checkpoints/Attempt3\weights.40.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7414
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7411
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7413
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7412
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7425
Epoch 45/50
793/804 [============================>.] - ETA: 0s - loss: 0.5286 - accuracy: 0.7417
Epoch 45: saving model to checkpoints/Attempt3\weights.45.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7418
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7416
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7416
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7418
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7417
Epoch 50/50
796/804 [============================>.] - ETA: 0s - loss: 0.5283 - accuracy: 0.7420
Epoch 50: saving model to checkpoints/Attempt3\weights.50.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7420

In [43]:
# Evaluate the model using the test data
model_loss, model_accurady = nn3.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5547 - accuracy: 0.7298 - 501ms/epoch - 2ms/step
Loss: 0.5547457933425903, Accuracy: 0.7313119769096375

In [44]:
# Export the model to a HDF5 file.
nn3.save("OptimizationAttempt3.h5")

In [45]:
# OPTIONAL: Evaluate the model with the weights from the most accurate checkpoint (epoch --).
# This can be done by loading the checkpoint.
# nn3.load_weights("checkpoints/Attempt3/weights.--.hdf5")

# model_loss, model_accuracy = nn3.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"EPOCH -- | Loss: {model_loss}, Accuracy: {model_accuracy}")